main {
    display: flex;
}

main > div {
    /* margin: 1rem; */
    padding: 1rem;
}

form {
    border: 1px solid black;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
}

input, button {
    display:flex;
    margin: 1rem;
    /* width: auto;     */
    flex: 1;
}

#colorBoard > div.selected {
    border-color: white;
}

#board {
    border: 1px solid black;
}

.cell {
    border: 1px solid black;
    height: 1rem;
}

.controlsWindow {
    border: 1px solid black;
    flex:1;
    padding: 1rem;
}

.controlsWindow > div {
    margin: 1rem;
}

.gridWindow {
    border: 1px solid black;
    flex: 2;
}

#colorBoard {
    display: flex;
    flex-wrap: wrap;
    
}
#colorBoard > div {
    height:10px;
    width: 10px;
    border: solid 1px black;
    /* flex: 1; */
    /* padding 0; */
    
}
/* 
@media colorBoard and (max-width: 600px) {
    th {
        width: 100%;
        display: block;
        margin: 10px 0px;
    }
} */